@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-size: normal;
}
@font-face {
  font-family: "Cookie";
  src: url("../fonts/Cookie-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
